.my-editor {
  // height: 100vh;

  .my-editor__header {
    height: 60px;
    display: flex;
    border-bottom: 1px solid #e8e9eb;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
}

.ae-Editor {
  height: calc(100vh - 60px);
}

.preview-btn {
  margin-right: 5px;
}
